 .u-section-1 {
  background-image: url("../images/c80e09f89f9c6f9538964f010c12617e93cb624c4d9ac745281de6584ccf8174c8ce46ac8fa4f6a9cbefab79d66301b47fa9f593cc869ebf8cd2b4_1280.jpg");
  background-position: 50% 50%;
  min-height: 830px;
}

.u-section-1 .u-shape-1 {
  width: 741px;
  height: 51px;
  background-image: none;
  margin: 325px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-family: Asset;
  line-height: 1.2;
  margin: -47px auto 0;
}

.u-section-1 .u-shape-2 {
  width: 777px;
  height: 58px;
  background-image: none;
  margin: 31px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  font-family: Asset;
  margin: -58px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 684px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 654px;
  }

  .u-section-1 .u-shape-1 {
    width: 720px;
    margin-top: 404px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -77px;
  }

  .u-section-1 .u-shape-2 {
    width: 720px;
    margin-top: 103px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 540px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-top: 447px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: -120px;
  }

  .u-section-1 .u-shape-2 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 566px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-top: 428px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -101px;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
  }
}