 .u-section-1 {
  background-image: url("../images/Fotosdeanuncioscashback2.png");
  background-position: 50% 50%;
}

.u-section-1 .u-shape-1 {
  width: 741px;
  height: 51px;
  background-image: none;
  margin: 325px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-family: Asset;
  line-height: 1.2;
  margin: -47px auto 0;
}

.u-section-1 .u-shape-2 {
  width: 777px;
  height: 58px;
  background-image: none;
  margin: 31px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  font-family: Asset;
  margin: -58px auto 60px;
}

.u-section-1 .u-text-3 {
  width: auto;
  margin: -249px 50px 60px calc(((100% - 340px) / 2) + 320px);
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: 720px;
    margin-top: 404px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -77px;
  }

  .u-section-1 .u-shape-2 {
    width: 720px;
    margin-top: 103px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-top: 447px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: -120px;
  }

  .u-section-1 .u-shape-2 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 684px;
  }

  .u-section-1 .u-shape-1 {
    width: 381px;
    margin-top: 12px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -35px;
  }

  .u-section-1 .u-shape-2 {
    width: 381px;
    height: 45px;
    margin-top: 478px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -45px;
    margin-bottom: 0;
  }
}