.u-section-1 .u-sheet-1 {
  min-height: 844px;
}

.u-section-1 .u-shape-1 {
  width: 1046px;
  height: 51px;
  background-image: none;
  margin: 45px auto 0 40px;
}

.u-section-1 .u-text-1 {
  font-family: Asset;
  line-height: 1.2;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-size: 2.25rem;
  letter-spacing: 10px;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -51px 45px 0 auto;
}

.u-section-1 .u-social-icons-1 {
  height: 65px;
  min-height: 16px;
  width: 215px;
  min-width: 68px;
  margin: 652px -107px 39px auto;
}

.u-section-1 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-1 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
  height: 66px;
}

.u-section-1 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 1045px;
    margin-top: 27px;
    margin-left: -50px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -43px;
    margin-right: -76px;
    margin-left: -50px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 610px;
    margin-right: -81px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1104px;
  }

  .u-section-1 .u-shape-1 {
    width: 819px;
    margin-top: 57px;
    margin-left: -49px;
    margin-right: -49px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -47px;
    margin-right: -50px;
    margin-left: -287px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 578px;
    margin-right: -91px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-right: 51px;
    margin-left: 745px;
  }

  .u-section-1 .u-social-icons-1 {
    width: 216px;
    margin-top: 321px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    height: 166px;
    width: 287px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -169px;
    margin-right: -27px;
    margin-left: 27px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 46px;
    width: 158px;
    margin-top: 504px;
    margin-right: -12px;
  }
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-1 {
  border-color: transparent !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}